@font-face {
  font-family: 'OpenSans';
  src: url('../src/common/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'BebasNeueBold';
  src: url('../src/common/fonts/ofont.ru_Bebas\ Neue.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/common/fonts/Poppins/Poppins-Light.ttf'), url('../src/common/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../src/common/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Gilroy';
  src: url('../src/common/fonts/Gilroy/Gilroy-Light.otf');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../src/common/fonts/Gilroy/Gilroy-ExtraBold.otf');
}

button {
  cursor: pointer;
}

.headers {
  z-index: 20;
  display: flex;
  height: 60px;
  width: 100%;
  background: #4D533C;
  box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  justify-content: end;
  align-items: center;
  padding-right: 70px;
  box-sizing: border-box;
}

.link {
  color: rgb(172, 189, 132);
  font-weight: bold;
  text-decoration: none;
  margin-right: 30px;
}

.link:hover {
  color: rgb(175, 218, 75);
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}