
@font-face {
  font-family: 'OpenSans';
  src: url('../src/common/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'BebasNeueBold';
  src: url('../src/common/fonts/ofont.ru_Bebas\ Neue.ttf');
}

button{
  cursor: pointer;
}